<template>
  <div class="badge_custom">
    <v-avatar color="#A5DFF8" size="45">
      <span class="black--text headline">{{ signOfName }}</span>
    </v-avatar>
    <p color="black">{{ fullOfName }}</p>
  </div>
</template>

<script>
export default {
  props: {
    fullName: String,
    signName: String,
  },
  data() {
    return {
      fullOfName: this.fullName,
      signOfName: this.signName,
    };
  },
};
</script>

<style scoped>
.badge_custom {
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.badge_custom .v-avatar {
  margin-bottom: 5px;
}
</style>
