<template>
  <v-select
    v-model="selectedChildren"
    :items="items"
    item-text="label"
    item-value="value"
    outlined
    return-object
    @change="chooseOption"
    background-color="white"
  ></v-select>
</template>


<script>
export default {
  props: {
    options: Array,
    selected: Number,
    role: String,
  },
  data() {
    return {
      items: this.options,
      selectedChildren: this.selected,
    };
  },
  methods: {
    chooseOption: function () {
      this.$emit("getOptionClick", this.selectedChildren.value, this.role);
    },
  },
};
</script>

<style scoped>
.v-select .v-input__slot {
  background-color: white;
}
</style>