<template>
  <div id="calendar-page">
    <div class="selects-style">
      <SelectCustom
        :options="optionsWorking"
        :selected="selected"
        @getOptionClick="getValueSelected"
        role="categoryOfPosition"
        class="select-working"
      />
      <v-toolbar flat class="toolbar-calendar">
        <v-btn fab text large color="grey darken-2" @click="prev">
          <v-icon small> mdi-chevron-left </v-icon>
        </v-btn>
        <v-btn class="mr-4" color="#DEE3E7" @click="setToday"> Today </v-btn>
        <v-toolbar-items v-if="$refs.calendar">
          {{ formatDate($refs.calendar) }}
        </v-toolbar-items>
        <v-btn fab text large color="grey darken-2" @click="next">
          <v-icon small> mdi-chevron-right </v-icon>
        </v-btn>
      </v-toolbar>

      <div class="choose-calendar">
        <v-btn class="setting-btn">
          <v-icon small> mdi-cog-outline</v-icon>
        </v-btn>
        <SelectCustom
          :options="categoryOfCalendar"
          :selected="selectedCategoryOfCalendar"
          @getOptionClick="getValueSelected"
          role="categoryOfCalendar"
        />
      </div>

      <v-menu transition="slide-y-transition" bottom content-class="my-menu">
        <template v-slot:activator="{ on }">
          <v-btn color="#101928" dark v-on="on" class="add-new">
            Add New
          </v-btn>
        </template>

        <v-list>
          <v-list-item>
            <v-list-item-title>New Appointment</v-list-item-title>
          </v-list-item>
          <v-list-item>
            <v-list-item-title>New Blocked Time</v-list-item-title>
          </v-list-item>
          <v-list-item>
            <v-list-item-title>New Sale</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </div>
    <div class="show-calendar">
      <v-row justify="space-around">
        <v-col class="styled-avatar">
          <v-list-item v-for="(categorie, index) in categories" :key="index">
            <BadgeCustom :fullName="categorie" :signName="categorie[0]" />
          </v-list-item>
        </v-col>
      </v-row>
      <v-row class="fill-height">
        <v-col>
          <v-sheet height="600">
            <v-calendar
              ref="calendar"
              v-model="focus"
              color="primary"
              type="category"
              category-show-all
              :categories="categories"
              :events="events"
              :event-color="getEventColor"
              @change="fetchEvents"
              event-text-color="black"
              hide-header
            ></v-calendar>
          </v-sheet>
        </v-col>
      </v-row>
    </div>
  </div>
</template>

<script>
import BadgeCustom from "../components/Badge/BadgeCustom";
import SelectCustom from "../components/Selection/SelectCustom";
export default {
  name: "Calendar",
  components: {
    BadgeCustom,
    SelectCustom,
  },
  data() {
    return {
      offset: true,
      focus: "",
      events: [],
      colors: ["#A5DFF8"],
      names: [
        "Meeting",
        "Holiday",
        "PTO",
        "Travel",
        "Event",
        "Birthday",
        "Conference",
        "Party",
      ],
      categoryOfCalendar: [
        {
          label: "day",
          value: 0,
        },
        {
          label: "week",
          value: 1,
        },
        {
          label: "month",
          value: 2,
        },
      ],
      selectedCategoryOfCalendar: 0,
      categories: ["Dhaval New", "Bhavesh Test", "WendySmith"],
      optionsWorking: [
        {
          label: "Working Staff",
          value: 1,
        },
        {
          label: "Working Boss",
          value: 2,
        },
      ],
      selected: 1,
    };
  },
  mounted() {
    this.$refs.calendar.checkChange();
  },
  methods: {
    getValueSelected: function (value, roleSelect) {
      if (roleSelect === "categoryOfCalendar") {
        this.selectedCategoryOfCalendar = value;
      } else {
        this.selected = value;
      }
    },
    formatDate: function (date) {
      const newDate = new Date(date.days[0].date);
      let ye = new Intl.DateTimeFormat("en", { year: "numeric" }).format(
        newDate
      );
      let mm = new Intl.DateTimeFormat("en", { month: "long" }).format(newDate);
      let dd = new Intl.DateTimeFormat("en", {
        day: "2-digit",
      }).format(newDate);
      let tt = new Intl.DateTimeFormat("en", {
        weekday: "long",
      }).format(newDate);

      return `${tt} ${dd} ${mm}, ${ye}`;
    },
    getEventColor(event) {
      return event.color;
    },
    setToday() {
      this.focus = "";
    },
    prev() {
      this.$refs.calendar.prev();
    },
    next() {
      this.$refs.calendar.next();
    },
    fetchEvents({ start, end }) {
      const events = [];

      const min = new Date(`${start.date}T00:00:00`);
      const max = new Date(`${end.date}T23:59:59`);
      const days = (max.getTime() - min.getTime()) / 86400000;
      const eventCount = this.rnd(days, days + 20);

      for (let i = 0; i < eventCount; i++) {
        const allDay = this.rnd(0, 3) === 0;
        const firstTimestamp = this.rnd(min.getTime(), max.getTime());
        const first = new Date(firstTimestamp - (firstTimestamp % 900000));
        const secondTimestamp = this.rnd(2, allDay ? 288 : 8) * 900000;
        const second = new Date(first.getTime() + secondTimestamp);

        events.push({
          name: this.names[this.rnd(0, this.names.length - 1)],
          start: first,
          end: second,
          color: this.colors[this.rnd(0, this.colors.length - 1)],
          timed: !allDay,
          category: this.categories[this.rnd(0, this.categories.length - 1)],
        });
      }

      this.events = events;
    },
    rnd(a, b) {
      return Math.floor((b - a + 1) * Math.random()) + a;
    },
  },
};
</script>

<style scoped>
#calendar-page {
  padding: 12px;
  background-color: #f7f7f8;
}
.styled-avatar {
  display: flex;
  justify-content: center;
}
.styled-avatar .v-list-item {
  display: flex;
  justify-content: center;
}
.my-menu {
  margin-top: 50px;
  contain: initial;
  overflow: visible;
}
.select-working {
  margin-right: 30px;
}
.my-menu::before {
  position: absolute;
  content: "";
  top: 0;
  right: 10px;
  transform: translateY(-100%);
  width: 10px;
  height: 13px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 13px solid #fff;
}
.v-list-item {
  border-bottom: 1px solid #fbfbfc;
}
.selects-style {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  justify-content: center;

  text-align: center;
}
.setting-btn {
  height: 52px;
  min-width: 64px;
  padding: 0 16px;
  border: 1px solid #dfe1e3;
  box-shadow: none;
}
.choose-calendar {
  display: flex;
  flex-direction: row;

  align-items: baseline;
}
.v-toolbar--flat {
  height: 56px !important;
}
.v-toolbar__content {
  height: 56px !important;
  flex-direction: row;
  justify-content: space-around;
}
.v-toolbar__content button {
  box-shadow: none;
  height: 56px;
}
.v-toolbar__items {
  height: auto;
}
header.toolbar-calendar.v-sheet.theme--light.v-toolbar.v-toolbar--flat {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
header {
  margin-right: 30px;
}
button.add-new.v-btn.v-btn--is-elevated.v-btn--has-bg.theme--dark.v-size--default {
  height: 53px;
  margin-left: 10px;
}
button.setting-btn.v-btn.v-btn--is-elevated.v-btn--has-bg.theme--light.v-size--default {
  height: 53px;
  margin-right: 10px;
}
.v-application .pl-1 {
  color: black !important;
}
</style>


